<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">About company</h5>

                    <p class="light">Our company is the best in the world. Our company is the best in the world. Our company is the best in the world.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">About company</h5>

                    <p class="light">Our company is the best in the world. Our company is the best in the world. Our company is the best in the world.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>

                    <h5 class="center">About company</h5>

                    <p class="light">Our company is the best in the world. Our company is the best in the world. Our company is the best in the world.</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>
</div>