<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("_Header")
<body>
    @await Component.InvokeAsync("CategoriesComponent")
    <div class="section no-pad-bot" id="index-banner">
        @RenderBody()
    </div>
    @await Html.PartialAsync("_IconsSection")
    @await Html.PartialAsync("_Footer")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/js/materialize.js"></script>
    <script src="~/lib/materialize/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>