html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

#StronaGlowna {
    width: 1000px;
    margin: auto;
}

#Logo {
    background-color: lightblue;
    font-size: 10px;
}

#Menu {
    background-color: azure;
    font-size: 10px;
}

#Logowanie {
    text-align: right;
    background-color: lightblue;
    padding: 5px 10px 5px 10px;
}

#Lewy {
    float: left;
    width: 200px;
    height: 400px;
}

#Prawy {
    float: right;
    width: 200px;
    height: 400px;
}

#Srodkowy {
    background-color: azure;
    padding: 50px 20px 50px 20px;
    margin: 0px 200px 0px 200px;
}
