@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <br><br>
    <h1 class="header center orange-text">Welcome to store.</h1>
    <div class="row center">
        <h5 class="header col s12 light">Our Store is modern and ideal. Our Store is modern and ideal. Our Store is modern and ideal.</h5>
    </div>
    <div class="row center">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="download-button" class="btn-large waves-effect waves-light orange">To the Store</a>
    </div>
    <br><br>
</div>
