@{
    ViewBag.Title = "Mine";
}
<div>
    <b>This is br</b>
    <br />
    <u> This is u</u>
    <br />
    <i This is i</i>
    <br />
    <h1> This is h1</h1>
    <h2> This is h2</h2>
    <h3> This is h3</h3>
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
    <ol>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ol>

</div>